.Course_container {
    overflow: auto;
    height: 725px;
    padding: 10px 10px 10px 5px;
}

.Course_form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.Course_box {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    transition: all 0.15s ease-in-out;
    border-radius: 8px;
}

.Course_box:hover {
    transform: scale(1.02);
}

.Course_img {
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 150px;

}

.Course_Info {
    padding: 10px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Course_p1,
.Course_p2 {
    color: #bc4749;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

.Course_p2 {
    font-size: 19px;
    margin: 0px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    color: #343a40;
}

.Course_h1 {
    color: #343a40;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin: 0px 0px 3px;
}

.Course_p3 {
    color: #495057;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.Course_p4 {
    color: #bc4749;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 15px;
    width: 73px;
    padding: 5px 2px;
    transition: .35s ease-out;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    background: linear-gradient(to left, white 50%, #bc4749 50%) right;
    background-size: 200%;
    border-radius: 20px;
}

.Course_p4:hover{
    background-position: left;
    color: white;
    padding: 5px 10px;
}

.Course_titlebar{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.Course_title{
    font-family: 'Poppins', sans-serif;
    color: #2d6a4f;
}

.Course_input{
    border: 1px solid #ced4da;
    padding: 5px 0px;
    text-indent: 10px;
    margin-right: 15px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    font-weight: 800;
    letter-spacing: 1px;
}

.Course_input:focus{
    outline: none;
    border: 1px solid #2d6a4f;
}

.Course_input:hover{
    border: 1px solid #2d6a4fa8;
}