* {
    margin: 0px;
    padding: 0px;
}

/* Student Dashboard */

.Dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Dashboard-Container {
    display: flex;
    height: inherit;
}

.Dashboard-Box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 50px 20px;
    width: 100%;
    background-color: #52b78803;
}

.Dashboard_h1 {
    font-family: 'Poppins', sans-serif;
    color: #2d6a4f;
    margin-bottom: 10px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    animation-name: leftfade;
    animation-duration: 0.5s;
    position: relative;
    z-index: -1;
}

.Footer{
    width: 100%;
    border: 0px;
    border-top: 5px solid #2d6a4f;
    padding: 10px 0px;
    font-family: 'Karla', sans-serif;
    color: #212529;
}

@keyframes leftfade {
    from {
        opacity: 0;
        right: 25px;
    }to {
        opacity: 1;
        right: 0px;
    }
}
