* {
    margin: 0px;
    padding: 0px;
}

.Dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Dashboard-Container {
    display: flex;
    height: inherit;
}

.Dashboard-Box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 50px 20px;
    width: 100%;
    background-color: #fdfffc;
}

.Footer{
    width: 100%;
    border: 0px;
    border-top: 5px solid #2d6a4f;
    padding: 10px 0px;
    font-family: 'Karla', sans-serif;
    color: #212529;
}