*{
    padding: 0px;
    margin: 0px;
}

.Sidebar{
    height: 100%;
    box-sizing: border-box;
    background-color: #388E3C;
    border: 0px;
    border-right: 1px solid #e9ecef;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    padding-top: 20px;
}

.Sidebar-Listitem{
    width: 100%;
}

.Sidebar-Item{
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    transition: 0.2s;
    letter-spacing: 1px;
}