.SAT {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}

.SAT_container {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 0px 35px;
    grid-template-areas:
        ". .";
}

.SAT_Questions_container {
    display: flex;
    flex-direction: column;
    /* margin: 30px 0px; */
    gap: 30px;
    border-top: 2px solid #458d6b7f;
    padding: 30px 0px;
}

.SAT_p1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #458d6b;
    line-height: 1.2;
}

.SAT_p2 {
    font-family: 'QuickSand', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: rgb(26, 44, 42);
}

.SAT_p3 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(26, 44, 42);
    margin: 5px 0px 15px;
}

.SAT_Questions {
    /* background-color:#; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 12px;
    border: 1px solid #E9ECEF;
}

.tile {
    /* background-color: #458d6b; */
    /* color: white; */
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #457860;
    padding: 12px 30px;
    background-color: #458d6b16;
}


.SAT_form {
    padding: 30px;
}

.SAT_q1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
    color: rgb(26, 44, 42);
}


.SAT_c1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    color: rgba(26, 44, 42, 0.971);
    display: flex;
    gap: 10px
}

.Question_Status {
    height: max-content;
    position: relative;
}

.Status_div0{
    position: fixed;
    padding: 30px;
    border: 1px solid #4578600e;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background-color: #458d6b0b;
    font-family: 'Poppins', sans-serif;
}

.Status_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px 15px;
    padding: 10px 50px;
}

.roundball {
    border-radius: 20px;
    border: 1px solid #45786027;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #45786026; */
}

.Status_subjects{
    border: 1px solid #45786051;
    padding:10px 0px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.Status_div3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0px 40px;
}

.sat_submit_btn{
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    border: 1px solid #f8f9fa;
    background-color: #69b96eff;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.sat_submit_btn:hover{
    background-color: rgb(90, 166, 96);
}